@import "tailwindcss";

@theme {
  --font-family: "Montserrat", sans-serif;
  --breakpoint-lgg: 68.625rem; /* 1098 */
  --breakpoint-lggg: 63rem; /* 1008 */
  --breakpoint-xll: 77.25rem; /* 1236 */
  --breakpoint-smm: 36.25rem; /* 580 */
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #1c1c1c;
    overflow-y: hidden;
  overflow-x: auto;
}
.gradient-btn {
  border-radius: 100px;
  padding: 18px 50px;
  width: 194px;
  height: 58px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
.gradient-btn h1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  background: radial-gradient(
    230.93% 230.93% at 102.01% 2.03%,
    rgb(249, 237, 50) 0%,
    rgb(238, 42, 123) 36.000001430511475%,
    rgb(210, 42, 138) 43.99999976158142%,
    rgb(139, 42, 178) 60.00000238418579%,
    rgb(27, 42, 240) 82.99999833106995%,
    rgb(0, 42, 255) 87.99999952316284%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100px;
  padding: 2px;
  background: radial-gradient(
    230.93% 230.93% at 102.01% 2.03%,
    rgb(249, 237, 50) 0%,
    rgb(238, 42, 123) 36%,
    rgb(210, 42, 138) 44%,
    rgb(139, 42, 178) 60%,
    rgb(27, 42, 240) 83%,
    rgb(0, 42, 255) 88%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  transition: all 0.3s ease;
}
.gradient-btn:hover {
  background: radial-gradient(
    230.93% 230.93% at 102.01% 2.03%,
    rgb(249, 237, 50) 0%,
    rgb(238, 42, 123) 36%,
    rgb(210, 42, 138) 44%,
    rgb(139, 42, 178) 60%,
    rgb(27, 42, 240) 83%,
    rgb(0, 42, 255) 88%
  );
}

.gradient-btn:hover h1 {
  -webkit-text-fill-color: #fff;
}
.scrollbar-custom::-webkit-scrollbar {
  height: 8px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: #ffffff67;
  border-radius: 10px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #fff; 
  border-radius: 10px;
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}